*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    /* background-color: #f6eeee; */
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

#left-top-left{
    /* background-color: antiquewhite; */
    padding: 40px;
}

#square{
    height: 20px;
    width: 20px;
    background-color: black;
    rotate: 45deg;
}


#left-top-right{
    /* background-color: #71a4f0; */
    justify-self: right;
    padding: 20px;
    text-align: right;  
    width: 100%;
    
}

#left-top-right h4{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

#left-top-right h6{
    display: none;
} 

#left-center{
    /* background-color: #e52fac; */
    grid-column: 1 / 3;
    padding: 40px;
}

#left-center h1{
    font-size: 6vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5.5vw;
}

#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    /* background-color: chartreuse; */
    grid-column: 1 / 3;
    padding: 35px;
}

#left-bottom p{
    width: 90%;
    font-size: 20px;
    font-weight: 500;
}

#right{
    /* background-color: burlywood; */
    grid-column: 3  ;
    grid-row: 1 / 4;
    padding: 30px;
    padding-right: 100px;
}

#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background-color: orangered;
    border-radius: 50%; 
    padding: 20px; 
} 

#arrow i{
    font-size: 30px;
    font-weight: 100;
}

@media (max-width:600px){
    #main{ 
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 27% 12%; 
    }
    
    #left-top-left{
        padding: 20px;
    }
    
    #square{
        height: 20px;
        width: 20px;
    }
    
    
    #left-top-right{
        justify-self: right;
        padding: 20px;
        text-align: right;  
        width: 100%;
        
    }
    
    #left-top-right h4{
        display: none;
    }
    
    #left-top-right h5{ 
        display: none;
    }
    
    #left-top-right h6{
        display: initial;  
        font-size: 20px;
    } 
    
    #left-center{
        padding: 10px 20px;
    }
    
    #left-center h1{
        font-size: 12vw; 
        line-height: 10.5vw;
    }
    
    #left-center h1:nth-child(2n){
        text-align: right;
    }
    
    #left-bottom{
        padding: 0px 20px;
    }
    
    #left-bottom p{
        width: 95%;
        font-size: 13px;
        padding: 5px 20px;
    }
    
    #right{
        grid-column: 1 / 3;
        grid-row: 4  ;
        padding: 20px;
        padding-right: 20px;
    } 
    
    #right video{
        height: 57%;
    }
    
    #arrow{
        top: 50%;
        left: 40%; 
        padding: 10px; 
        rotate: 90deg;
    } 
    
    #arrow i{
        font-size: 20px;
    }
}
